.restaurant-link-item {
  text-decoration: none;
  margin-bottom: 48px;
  width: 100%;
  flex-grow: 0;
  flex-shrink: 1;
}

.restaurant-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
  width: 100%;
  flex-grow: 0;
}

.restaurant-image {
  height: 100px;
  width: 150px;
  border-radius: 8px;
  margin-right: 15px;
  border-radius: 8px;
  margin-top: 10px;
}

@media screen and (min-width: 768px) {
  .restaurant-link-item {
    text-decoration: none;
    margin-bottom: 48px;
    width: 30%;
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 20px;
  }
  .restaurant-image {
    width: 200px;
    height: 170px;
    border-radius: 8px;
    margin-right: 10px;
  }
  .restaurant-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    margin-right: 20px;
  }
}

.name {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: 0.2px;

  /* Light / blue-gray / 700 */

  color: #334155;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .name {
    color: #334155;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-top: 30px;
  }
}

.cuisine {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #64748b;
  margin: 0px;
}

@media screen and (min-width: 768px) {
  .cuisine {
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #64748b;
  }
}

.rating-container {
  display: flex;
  align-items: center;
  margin: 0px;
}

.text-container {
  margin-top: 0px;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .rating-container {
    display: flex;
    align-items: center;
  }

  .text-container {
    margin-top: 0px;
    height: 100%;
    width: 50%;
  }
}

.star {
  color: #ffcc00;
  width: 15px;
  height: 17px;
  margin-right: 2px;
}
.rating {
  margin-top: 15px;
  color: #0f172a;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
